<p id="notice"><%= notice %></p>
<div class="container">

<table class="table table-striped" border="1">
  <tbody>
  	<tr><th>Agency</th></tr>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>
<table class="table table-striped" border="1">
  <tbody>
  	<tr><th>Price Range</th></tr>  

  </tbody>
</table>
<br/><br/>
<table class="table table-striped" border="1">
  <tbody>
  	<tr><th>Duration</th></tr>  

  </tbody>
</table>

</div>

